.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: #756d6d;
  margin-top: 2rem;
}
