.product {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
}

.product-oferta {
  border: 2px solid red;
  background-color: #f8d7da; /* Fondo para productos con descuento */
}

.product-text {
  margin: 5px 0;
}

.product-label {
  font-weight: bold;
}

.precio-oferta {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.precio-original {
  text-decoration: line-through;
  color: gray;
}

.oferta {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  color: red;
}

.oferta span {
  margin-left: 5px;
}

.product .btn {
  align-self: flex-start;
}
